<!doctype html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            {{ bootstrap.load_css() }}
        {% endblock %}

        <title>{{title}} | TaskForge - NEXT</title>
        {% endblock %}
    </head>
    <body>
        <div class="container min-vh-100 d-flex flex-column">
        <!-- Your page content -->
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded-pill shadow-lg px-4 my-3 mx-2">
            <a class="navbar-brand" href="/">Taskforge - NEXT</a>
            
            <div class="collapse navbar-collapse">
                
              <ul class="navbar-nav ms-auto mx-2">
                
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link" href="/projects">Projekte</a></li>
                <li class="nav-item"><a class="nav-link" href="/tasks">Aufgaben</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">Über uns</a></li>

              </ul>

              <ul class="navbar-nav ms-auto">
                
                {% if current_user.is_authenticated %}
                    <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                {% else %}
                    
                    <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="/register">Registrieren</a></li>
                {% endif %}
              </ul>
            </div>
          </nav>
          <div class="container mt-4">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-info">{{ message }}</div>
                {% endfor %}
              {% endif %}
            {% endwith %}
            {% block page_content %}{% endblock %}
          </div>

        {% block content %}
        <!-- Default content can go here -->
        {% endblock %}
        </div>

        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
        {% endblock %}
    </body>
</html>